[build.environment]
NPM_FLAGS = "--prefix=/dev/null"
NODE_VERSION = "16.13.0"

[build]
publish = "dist"
command = "npm install && npm run build && npm run test"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "/manifest.webmanifest"
[headers.values]
Content-Type = "application/manifest+json"
